<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Suthor:</strong>
  <%= @book.suthor %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<p>
  <strong>Rentrate:</strong>
  <%= @book.rentRate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
